.card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.card-section h1 {
  font-family: 'Roboto', sans-serif;
  padding: .5em;
}

.card-container {
  padding: 20px;
  height: 100vh;
  align-self: center;
}

.card-container-header {
  align-self: center;
}

.no-tldrs-yet {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}